Repository MHKarami97/Pool, changes with the labels that .github/labeler.yml gives for each.
All labels: load-test, unit-test, pool

.github/labeler.yml:

"load-test":
  - "PoolLoadTest/**"
"unit-test":
  - "PoolUnitTest/**"
"pool":
  - "Pool/**"

docs: update docs
  README.md
Labels: none

feat: add shrink method, some bug fixed, add tests, add docs
  Pool.sln.DotSettings.user
  Pool/Pool.cs
  Pool/Pool.csproj
  Pool/README.md
  Pool/Resources.Designer.cs
  Pool/Resources.resx
  PoolLoadTest/PoolLoadTest.csproj
  PoolLoadTest/PoolLoadTests.cs
  PoolUnitTest/PoolTests.cs
  PoolUnitTest/Utility/DisposableObject.cs
  PoolUnitTest/Utility/IModel.cs
  PoolUnitTest/Utility/MyModel.cs
  README.md
Labels: load-test, unit-test, pool

fix: bug on SemaphoreSlim create
  Pool/Pool.cs
Labels: pool

version: update to 1.1.1
  Pool/Pool.csproj
Labels: pool

feat: add new feature, bug fixed
  Pool/IPool.cs
  Pool/Pool.cs
  Pool/Pool.csproj
  Pool/Resources.Designer.cs
  Pool/Resources.resx
Labels: pool

fix: bug fixed on create and get
  Pool.sln.DotSettings.user
  Pool/Pool.cs
  Pool/Pool.csproj
Labels: pool

fix: change wait for shrink
  Pool/Pool.cs
Labels: pool

fix: make ex better
  Pool/Pool.cs
  Pool/Resources.Designer.cs
  Pool/Resources.resx
Labels: pool

fix: bug fix
  Pool/Pool.cs
Labels: pool

fix: remove wait to shrink
  Pool/Pool.cs
Labels: pool

fix: bug fixed
  Pool/Pool.cs
  Pool/Resources.Designer.cs
  Pool/Resources.resx
Labels: pool

fix: bug on create channel
  Pool/Pool.cs
  Pool/Pool.csproj
Labels: pool
